<!doctype html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Check for Conditional Statement</h1>
<h1>
    User is <span th:style="${isActive} ? 'color:green' : 'color:red' " th:text="${isActive} ? 'Active' : 'Not Active'"></span>
</h1>

<h1>
    <span  th:if="${Gender} == 'M'">Male</span>
    <span  th:unless="${Gender} == 'M'">Female</span>
</h1>

<div th:switch="${#lists.size(list)}" >
    <h1 th:case="0">List is Empty</h1>
    <h1 th:case="*">List is not Empty</h1>

</div>
</body>
</html>