<!doctype html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Example to Iterate a Collection </title>
</head>
<body>
    <h1>Here We Go .......</h1>
    <h1 th:text="${names}"> </h1>
    <ul>
        <li th:each=" n,status : ${names}">
            <span th:style="${status.odd} ? 'font-weight:bold;color:blue' : 'font-weight:italic;color:purple ' " th:text="${n}">

            </span>
        </li>
    </ul>
</body>
</html>